* {
  margin: 0;
  padding: 0;
  font-family: 'Alegreya Sans', sans-serif;
}

body {
  background: linear-gradient(to bottom, rgba(11, 16, 33, 1) 0%, rgba(14, 20, 40, 1) 51%, rgba(14, 20, 40, 1) 100%) no-repeat;
  color: aliceblue;
}
