.jumbotron {
    height: 90vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;

    a {
        z-index: 100;
        height: 20px;
        width: 20px;

        button {
            height: 50px;
            width: 50px;
            background: transparent;
            border: none;
            cursor: pointer;
        }
    }

}

.overlay {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(11, 16, 33, 1) 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90vh;
}

.movie-description {
    display: flex;
    width: 100%;
    z-index: 100;

    .description-details {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;

        .movie-description-text {
            margin-left: 50px;
        }

        p {
            font-size: 2rem;
            margin: 0
        }

        h1 {
            margin: 0;
        }
    }

}

.actors {
    text-align: center;

    .actor {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    img {
        border-radius: 5%;
        max-height: 200px;
    }
}

@media only screen and (max-width: 600px) {
    .movie-description {
        display: flex;
        justify-content: center;
        padding: 0;

        .movie-description-text {
            text-align: center;
            margin: 0 !important;
        }
    }

    .description-details {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start !important;
        align-items: center !important;
    }

    h3 {
        font-size: 1rem
    }
}