h2 {
  letter-spacing: 0.4rem;
  font-weight: bold;
}

.active {
  border: none;
  background: transparent;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  font-weight: bold;
  border-bottom: 5px solid #ed5f6d;
  margin-left: 20px;
  cursor: pointer;
}

.unactive {
  border: none;
  background: transparent;
  color: #c1bfbf;
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 20px;
  cursor: pointer;
}

.card {
  margin-bottom: 10px;
  margin-right: 35px;
  cursor: pointer;
  background: transparent;
  border: none;
  color: aliceblue;
  transition: all 0.5s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }

  .card-img-top {
    position: relative;
  }

  img {
    border-radius: 5%;
  }

  span {
    position: absolute;
    bottom: -5px;
    right: 0;
    background: rgb(254, 199, 42);
    color: black;
    padding: 3px 5px;
    border-radius: 50%;
  }

  .card-title {
    margin-top: 10px;
  }

  h6 {
    margin: 0;
  }

  p {
    color: #009970;
    margin: 0;
    font-size: 1rem;
  }
}

.cards-separator {
  background-image: radial-gradient(
    circle,
    rgba(210, 208, 208, 0.190914) 0%,
    rgba(210, 208, 208, 0) 90%
  );
  border: none;
  height: 2px;
}

@media only screen and (max-width: 600px) {
  .card {
    margin: 0;
  }
}
