.trailer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
iframe {
    margin-right: 20px;
    margin-bottom: 20px;
}
@media only screen and (max-width: 600px) {
    iframe {
        margin: 0;
        padding: 10px;
   }
}
